<!-- fragments/chat-window.html -->
<div th:fragment="chatWindow(chatId, chatName, chatType, avatar)"
     class="chat-window" data-state="open"
     th:attr="data-chat-id=${chatId},data-chat-type=${chatType}">

  <div class="chat">
    <div class="chat-header">
      <div class="profile">
        <div class="left">
          <!-- <i class="fa-solid fa-user-circle pp"></i> -->
          <img class="pp" th:src="${avatar}">
          <h7 style="color:white" th:text="${chatName}">Tên Chat</h7>
        </div>
        <div class="right">
          <i class="fa-solid fa-video icon"></i>
          <button   class="btn-minimize"><i class="fas fa-minus icon"></i></button>
          <button  onclick="closeChat(this)" class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
    <div class="chat-box">
      <div class="chat-r">
        <div class="mess mess-r">
          <p>Test message right</p>
        </div>
      </div>
      <div class="chat-l">
        <div class="mess">
          <p>Test message left</p>
        </div>
      </div>
    </div>

    <div class="chat-footer">
      <div class="icons">
        <i class="fa-regular fa-face-smile "></i>
        <i class="fa-solid fa-paperclip"></i>
        <i class="fa-solid fa-camera"></i>
      </div>
      <textarea placeholder="Type a message"></textarea>

      <i class="fas fa-paper-plane send"></i>
    </div>
  </div>

</div>
